body {
  width: 900px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8em;
  font-size: 16px;
}

strong {
  font-weight: 600;
}

h1 {
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 15px;
}

h1 a {
  text-decoration: none;
}

h2 {
  width: 100px;
  float: left;
}

h2, h4, h5, h6 {
  font-size: 16px;
}

h3 {
  font-size: 20px;
}

h2, h3, dl {
  margin-top: 35px;
}

section:first-child h2, section:first-child  dl {
  margin-top: 5px;
}

section:last-child div:last-child {
  padding-bottom: 100px;
}

h4 {
  font-style: italic;
  font-weight: 300;
  width: 400px;
  float: left;
}

h4, h5 {
  margin-top: 0;
}

h3 strong {
  font-weight: 700;
}

h3 {
  font-weight: 300;
  margin-bottom: 0;
}

h5 {
  float: right;
  display: inline;
  font-weight: 600;
  width: 300px;
  text-align: right;
}

h6 {
  margin: 0;
  font-weight: 400;
}

dt:after {
  content: ":";
}

p {
  margin: 0 15px;
}

a, a:visited {
  color: black;
}

section {
  clear: both;
}

section div {
  float: right;
  width: 700px;
/*  left: 120px;
  width: 500px;
  position: relative;*/
}

dt {
  clear: both;
  float: left;
  width: 150px;
}

dd {
  float: left;
}

ul {
  clear: both;
  padding-left: 19px;
  list-style-type: square;
}